.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    min-height: 100vh;
}

.errors {
    position: absolute;
    top: 100px;
    border-radius: 8px;
    padding: 10px;
    background-color: red;
}
