.monthSwitcherWrapper {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.title {
    margin-right: 6px;
    margin-left: 6px;
    text-align: center;
    width: 200px;
}

.imgContainer {
    align-self: center;
    margin-top: 4px;
    cursor: pointer;
}